/*公共基础属性定义开始*/
* { margin: 0; padding: 0; }
li { list-style-type: none; }

/*公共基础属性定义结束*/
/*整体框架样式开始*/
#header { background-color: Black; color: White; overflow: hidden; height: 60px; padding: 0 15px 0 15px; }
.header_item { float: right; height: 60px; line-height: 60px; }
#title { float: left; font-family: Gungsuh; font-size: 35px; }
#menu li { float: left; }

#main { text-align: left; margin: auto auto; width: 800px; margin-top: 5px; }
/*整体框架样式开始*/

/*topic begin*/
.topics, .topics * { list-style-type: none; }
.topic_details { width: 800px; overflow: hidden; }
.topic_comments { margin-bottom: 13px; }
.item { margin: 3px 0 3px 0; padding: 5px 0 5px 0; width: 100%; }
.item_info li { float: left; margin: 5px 15px 5px 15px; overflow: hidden; }
.item_info { overflow: hidden; }
.topic_info { width: 100%; }
.account_info { width: 180px; height: 200px; text-align: center; }
.topic_controls li { float: left; }
.account_info p { font-size: 10px; font-family: @宋体; width: 180px; margin: auto auto; }
.new_comment { height: 30px; }
.desc { white-space: normal; overflow: auto; word-break: break-all; word-spacing: 1em; line-height: 30px; }
.new_topic { width: 800px; margin: auto auto; }
.new_topic textarea { width: 800px; }

.usr_info { width: 98px; height: 98px; text-align: left; border: 1px solid black; float: left; }
.desc { width: 690px; border: 1px solid black; float: right; height: 100%; overflow: hidden; }
/*topic end*/