<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>效果页</title>

	<link href="/css/base.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="blurbar">
		<div class="navigator">
			<p class="logo blurbar_item">Sun & Moon</p>
            <div class="notifContainer blurbar_item">
                <a  class="blurbar_item"><img /></a>
                <a  class="blurbar_item"><img /></a>
                <a  class="blurbar_item"><img /></a>
            </div>
            <div class="searchtools blurbar_item">
                <input />
                <input type="button" value="Search" />
            </div>
		</div>
    </div>
    <div class="mainContainer">
	    <div class="leftContainer">
			<div class="account tools">
                <a ><img class="avatar" alt="" /></a>
                <a>XXXXX</a>
            </div>
            <div class="circle tools">
                <p class="navHader">圈子</p>
                <ul class="navList">
                    <li class="navItem">
                        <div class="btnWarp">
                            <div class="warp">
                                <img class="navIcon" />
                            </div>
                        </div>
                        <a><img class="navIcon"/><span>朋友</span></a>
                    </li>
                    <li class="navItem">
                        <div class="btnWarp">
                            <div class="warp">
                                <img class="navIcon" />
                            </div>
                        </div>
                        <a><img class="navIcon"/><span>朋友</span></a>                     
                    </li>
                    <li class="navItem">
                        <div class="btnWarp">
                            <div class="warp">
                                <img class="navIcon" />
                            </div>
                        </div>
                        <a><img class="navIcon"/><span>朋友</span></a>
                    </li>
                    <li class="navItem">
                        <div class="btnWarp">
                            <div class="warp">
                                <img class="navIcon" />
                            </div>
                        </div>
                        <a><img class="navIcon"/><span>朋友</span></a>
                    </li>
                </ul>
            </div>
            <div class="app tools">
                <p class="navHader">应用</p>
                <ul class="navList">
                    <li class="navItem">
                        <div class="btnWarp">
                            <div class="warp">
                                <img class="navIcon" />
                            </div>
                        </div>
                        <a><img class="navIcon"/><span>朋友</span></a>
                    </li>
                    <li class="navItem">
                        <div class="btnWarp">
                            <div class="warp">
                                <img class="navIcon" />
                            </div>
                        </div>
                        <a><img class="navIcon"/><span>朋友</span></a>
                    </li>
                    <li class="navItem">
                        <div class="btnWarp">
                            <div class="warp">
                                <img class="navIcon" />
                            </div>
                        </div>
                        <a><img class="navIcon"/><span>朋友</span></a>
                    </li>
                </ul>
            </div>
	    </div>
	    <div class="centerContainer">
		    <ul>
			    <li>
					<img />
                    <div></div>
			    </li>
			    <li>
					
			    </li>
		    </ul>
	    </div>
    </div>
	<div class="rightContainer">
	</div>
</body>

</html>
