@model SunMoon.Blog.DataAccess.EntityFramework.Comment
<li class="comment_item">
    <div class="item_info">
        <span>
            @Model.Author
        </span><span>
            @if (Model.CreateTime != null) {
                @Model.CreateTime.Value.ToString("g")
            }
        </span>
    </div>
    <div class="desc">
        @Html.Raw(Model.Description)
    </div>
</li>